<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="com.github.fabeclipse.timetrim.timeTool"
               label="TimeTool">
            <control
                  class="com.github.fabeclipse.timetrim.TimeToolWorkbenchWindowControl">
            </control>
            <command
                  commandId="com.github.fabeclipse.timetrim.dateDropDown"
                  label="date"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.github.fabeclipse.timetrim.DateDropDown"
            id="com.github.fabeclipse.timetrim.dateDropDown"
            name="date">
      </command>
   </extension>

</plugin>
