<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.github.fabeclipse.textedgrep.fabeclipse"
            name="FabEclipse">
      </category>
      <view
            category="com.github.fabeclipse.textedgrep.fabeclipse"
            class="com.github.fabeclipse.textedgrep.internal.ui.GrepView"
            icon="icons/grep.png"
            id="com.github.fabeclipse.textedgrep.grepview"
            name="Grep"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.github.fabeclipse.textedgrep.grepCommands"
            name="GrepCommands">
      </category>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="com.github.fabeclipse.textedgrep.internal.ui.cmd.GrepCommand"
            description="Open/Go to grep view"
            id="com.github.fabeclipse.textedgrep.OpenGrep"
            name="Grep Text">
      </command>
      <command
            categoryId="com.github.fabeclipse.textedgrep.grepCommands"
            id="com.github.fabeclipse.textedgrep.toUntitledFile"
            name="To Untitled File">
      </command>
      <command
            categoryId="com.github.fabeclipse.textedgrep.grepCommands"
            id="com.github.fabeclipse.textedgrep.OriginalRangeToUntitledFile"
            name="Original Range To Untitled File">
      </command>
      <command
            id="com.github.fabeclipse.textedgrep.CopyOriginalRange"
            name="Copy Original Range">
      </command>
      <command
            id="com.github.fabeclipse.textedgrep.copy"
            name="Copy">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.github.fabeclipse.textedgrep.OpenGrep"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+G">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.github.fabeclipse.textedgrep.grepview?after=GrepViewMenu">
         <command
               commandId="com.github.fabeclipse.textedgrep.toUntitledFile"
               style="push">
         </command>
         <command
               commandId="com.github.fabeclipse.textedgrep.OriginalRangeToUntitledFile"
               style="push">
         </command>
         <separator
               name="com.github.fabeclipse.textedgrep.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.github.fabeclipse.textedgrep.copy"
               style="push">
         </command>
         <command
               commandId="com.github.fabeclipse.textedgrep.CopyOriginalRange"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.eclipse.ui.editors.text.TextFileDocumentProvider"
            id="com.github.fabeclipse.textedgrep.GrepResultUntitledDocumentProvider"
            inputTypes="com.github.fabeclipse.textedgrep.internal.ui.NonExistingFileEditorInput">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.github.fabeclipse.textedgrep.internal.ui.cmd.CopyOriginalRange"
            commandId="com.github.fabeclipse.textedgrep.CopyOriginalRange">
         <enabledWhen>
            <with
                  variable="activePart">
               <test
                     property="com.github.fabeclipse.textedgrep.GrepView.nonEmptyTextSelection">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.github.fabeclipse.textedgrep.internal.ui.cmd.OriginalRangeToUntitledFile"
            commandId="com.github.fabeclipse.textedgrep.OriginalRangeToUntitledFile">
         <enabledWhen>
            <with
                  variable="activePart">
               <test
                     property="com.github.fabeclipse.textedgrep.GrepView.nonEmptyTextSelection">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.github.fabeclipse.textedgrep.internal.ui.cmd.Copy"
            commandId="com.github.fabeclipse.textedgrep.copy">
         <enabledWhen>
            <with
                  variable="activePart">
               <test
                     property="com.github.fabeclipse.textedgrep.GrepView.nonEmptyTextSelection">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.github.fabeclipse.textedgrep.internal.ui.cmd.ToUntitledFile"
            commandId="com.github.fabeclipse.textedgrep.toUntitledFile">
         <enabledWhen>
            <with
                  variable="activePart">
               <test
                     property="com.github.fabeclipse.textedgrep.GrepView.nonEmptyGrepResult">
               </test>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.github.fabeclipse.textedgrep.internal.ui.GrepViewPropertyTester"
            id="com.github.fabeclipse.textedgrep.GrepViewPropertyTester"
            namespace="com.github.fabeclipse.textedgrep.GrepView"
            properties="nonEmptyTextSelection,nonEmptyGrepResult"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
