<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.github.fabeclipse.textedgrep.fabeclipse"
            name="FabEclipse">
      </category>
      <view
            category="com.github.fabeclipse.textedgrep.fabeclipse"
            class="com.github.fabeclipse.textedgrep.internal.ui.GrepView"
            id="com.github.fabeclipse.textedgrep.grepview"
            name="Grep"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.github.fabeclipse.textedgrep.grepCommands"
            name="GrepCommands">
      </category>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="com.github.fabeclipse.textedgrep.internal.ui.GrepCommand"
            description="Open/Go to grep view"
            id="com.github.fabeclipse.textedgrep.OpenGrep"
            name="Grep Text">
      </command>
      <command
            categoryId="com.github.fabeclipse.textedgrep.grepCommands"
            defaultHandler="com.github.fabeclipse.textedgrep.internal.ui.ToUntitledFileCommand"
            id="com.github.fabeclipse.textedgrep.toUntitledFile"
            name="To Untitled File">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.github.fabeclipse.textedgrep.OpenGrep"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+G">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.github.fabeclipse.textedgrep.grepview?after=additions">
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
         <command
               commandId="com.github.fabeclipse.textedgrep.toUntitledFile"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.eclipse.ui.editors.text.TextFileDocumentProvider"
            id="com.github.fabeclipse.textedgrep.GrepResultUntitledDocumentProvider"
            inputTypes="com.github.fabeclipse.textedgrep.internal.ui.NonExistingFileEditorInput">
      </provider>
   </extension>

</plugin>
